/* Tout ce qui est mis en commentaire est inutile */

/*
@font-face 
{
	font-family: "";
    src: url('fonts/.ttf');
}*/

*
{
    margin:0;
}

body
{
    background-size: cover;
    background-image: url(images/background.jpg);
    background-attachment: fixed;
    font-family: "Harrington", "Papyrus", "Lucida Handwriting", monospace, serif;
    position: relative;
}

/* HEADER */
header
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding : 1.4em;
    background-color: rgba(73, 40, 30, 0.63);
    box-shadow: 0px 4px 10px black;
}
header h1
{
    font-size: 4.5em;
    color:rgb(218,218,218);
    text-align: center;
    text-shadow: 3px 3px 2px black;
}
header a
{
    text-decoration: none;
}

/* BARRES DE NAVIGATION ( accueil et blog ) - fait parti du HEADER */
nav
{
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
}
ul
{
    list-style-type: none;
    padding:0;
}
nav li
{
    background-color: rgb(167, 161, 161);
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    margin:1.1em;
}
nav li > a /*lien de navigation */
{
    color:rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow Bold', serif;
    text-decoration: none;
    font-size: 17.5px;
    min-width: 200px;
    text-align: center;
    padding:4px;
    min-height:20px;    /* important : la page ne bouge plus quand on clique */
}

nav li > a:active /* quand on clique */
{
    font-size: 1.0em;
}
nav li > a:hover /* quand on passe la souris dessus */
{
    font-weight: bold ;
    background-color:rgb(144, 144, 144) ;
    border-radius: 4px;
}

/* BOUTON REGLES - fait parti du HEADER */
aside[id="header"]
{
    background-color: rgb(148, 136, 26);
    box-shadow: 5px 5px 5px black;
    border-radius: 4px;
    display:flex;
}
aside[id="header"] > a
{
    color:rgb(218, 218, 218);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 17.5px;
    min-width: 200px;
    text-align:center;
    padding:20px;
    min-height: 20px;
}
aside[id="header"] > a:active
{
    font-size:1.0em;
}
aside[id="header"]:hover
{
    font-weight: bold;
    background-color: rgb(125, 119, 9);
}

/* SECTION PAGE */
#page
{
    display: flex;
    flex-direction: column;
    font-family: 'Papyrus', serif;
    font-size: large;
    max-width: 1216px;
    min-height: 570px/*414px*/;
    margin: auto;
    margin-top:20px;
    background-color: rgb(218, 218, 218);
    box-shadow:6px 6px 6px black;
    border-radius:20px;
    padding:2em;
    text-align:center;
    color:rgb(50, 50, 50);
    position: relative;/**/
}

#page h1
{
    padding-bottom:5px;
    border-bottom: rgba(178, 34, 34, 0.61) solid;
    box-shadow: 0px 7px 0px -5px rgba(205, 134, 63, 0.61);
}

/* PENDU - fait parti de #page */
#img_pendu
{
    border-radius:5px;
    width: 190px;
    margin-top: 7em;
}
#img_pendu:hover
{
    width:193px;
}
#img_pendu:active
{
    width:185px;
}
#container_pendu
{
    display: flex;
    min-height:364px;
}
#container_pendu > a
{
    margin:auto;
}

/*PENDU*/

#container_fondblanc
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:white;
    height:300px;
    font-weight: bold;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 2px grey;
}

table
{
    border:4px black;
    padding:10px;
    background-color: rgba(1, 148, 148, 0.6);
    position: relative;
    bottom:-20px;
    border-radius: 7px;
}

td[class="clavier"] /* A REVOIR !!! */
{
    background:white;
    border:1px solid black;
    width:25px;
    height:25px;
    text-align:center;
    cursor: pointer;
}

#cachette
{
    margin:auto;
}

#cachette td
{
    padding:10px;
    background-color:white;
    border:solid black 2px;
    width:30px;
    height:30px;
    font-weight:bold;
    font-size:1.5em;
    text-align:center;
}

#recommencer
{
    position: absolute;
    bottom: 20px;
    left:0;
    right:0;
}

#icon_redo
{
    width: 50px;
    height:50px;
}

#cachette p
{
    visibility: hidden;
}


.recharger
{
    color:black;
    text-decoration:none;
    font-size:20px;
}

aside[id="clavier"]
{
    font-weight: bold;
}

.pendu
{
    width:250px;
    height:250px;
}

.compteur
{
    width: 120px;
    height:120px;
}

#compteur_width
{
    width:250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pendu_container_img
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:650px;
}

#message_defaite
{
    display: none;
    margin-top:1em;
}

.bold
{
    font-weight: bold;
}

/*REGLES - fait parti de #page*/
.container_text
{
    padding:1em;
    margin: auto;
    text-align: justify;
}

/*new : règles */

#regle_body
{
    text-align: left;
}

.container_text h2
{
    text-align: center;
    font-size: 25px;
}

.liste_nav
{
    background-color: rgb(167, 161, 161);
    border-radius: 4px;

    font-family: 'Courier New', Courier, monospace, 'Arial Narrow Bold', serif;
    text-decoration: none;
    font-size: 17.5px;
    text-align: center;
    min-width: 200px;
    padding:4px;
    min-height:20px;
}

.centre
{
    text-align: center;
}

.barre
{
    text-decoration: line-through;
}

.container_text strong
{
    color:red;
}

.container_text .dico
{
    color:rgb(148, 136, 26);
}

.lien_pendu
{
    text-decoration: none;
    color: rgb(50, 50, 50);
}

/* PIED DE PAGE */
footer
{
    font-family: "Blubble Tea",'Courier New', Courier, monospace;
    color: white;
    max-width:500px;
    padding:1em;
    background-color: rgba(1, 148, 148, 0.6);
    border-radius: 4px;
    box-shadow: 3px 3px 10px black;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 7px;
    height:1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* LIEN DICO ACADEMIE FRANCAISE */

#bloc_logo_dico
{
    background-color:rgba(1, 148, 148, 0.6);
    text-align: center;
    border-radius: 100%;
    width:4em;
    height:4em;
    margin:0.5em;
    position:fixed;
    bottom:0px;
    left:0px;
}   

#img_dico
{
    width:30px;
    height:35px;
    padding:1em;
}

/* AUDIO */

audio
{
    width:80px;
    height:40px;
    border-radius:30px;
    margin:0.5em;
    position:fixed;
    bottom:0px;
    right:0px;
    border: 3px solid grey;
    z-index: 2;
}

#icon_music
{
    height:60px;
    width:60px;
    cursor: pointer;
    position: absolute;
    bottom:0px;
    right:110px;
    z-index: 1;
}

#icon_music:active
{
    height:55px;
    width:55px;
}

#credit_auteur
{
    display: none;
    padding-left:2em;
    padding-right: 2em;
    padding-top:5em;
    height:165px;
    width:184px;
    vertical-align: middle;
    background-image: url("images/postit.png");
    background-size: cover;
    font-size: 1em;
    position: absolute;
    bottom:0px;
    right:200px;
    font-family: cursive;
    font-size: small;
    word-wrap: break-word;
}
.label
{
    font-weight: bold;
    color: orange;
}
.lien_credits
{
    text-decoration: none;
    color:darkcyan;
}

/* MediaQueries */

@media all and (max-width:1024px)
{
    #container_fondblanc
    {
        flex-direction: column;
        height:450px;
    }
    table
    {
        bottom:-10px;
    }
    #page
    {
        min-height: 710px;
    }
    #cachette
    {
        margin-top:10px;
    }
    table
    {
        margin-bottom: 10px;
    }
    #recommencer
    {
        bottom:12px;
    }
    #icon_music
    {
        bottom:80px;
        right:10px;
    }
    #credit_auteur
    {
        right:100px;
    }
    nav
    {
        margin-top: 1em;

    }
    aside[id="header"]
    {
        margin-top:1em;
    }

}
@media all and (max-width:670px)
{
    .pendu
    {
        width:190px;
        height:180px;
    }
}   

@media all and (max-device-width:1024px)
{
    #alphabet
    {
        width:100%;
        height:170px;
    }
    #cachette
    {
        width: 100%;
        height:140px;
    }
    #page
    {
        height:1520px;
    }
    #container_fondblanc
    {
        height:1100px;
    }
    #pendu_container_img
    {
        flex-direction: column;
    }
    .pendu
    {
        width:400px;
        height:400px;
    }
    .compteur
    {
        width:250px;
        height:250px;
    }
    #message_defaite
    {
        font-size: 1.8em;
    }
    #icon_redo
    {
        width:120px;
        height:120px;
    }
    #pendu_container_img
    {
        height:70%;
    }
    h1
    {
        font-size: 2em;
    }
    #container_pendu
    {
        height:100%;
        display: flex;
        align-content: center;
    }
    #img_pendu
    {
        margin:0;
        width:400px;
        border-radius: 6%;
    }
    #img_pendu:active
    {
        width:380px;
    }
    #img_pendu:hover
    {
        width:380px;
    }

    #bloc_logo_dico
    {
        width:130px;
        height:130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #img_dico
    {
        width:80px;
        height:80px;
    }
    #piedDePage
    {
        height:200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer
    {
        height:100px;
        width:900px;
        font-size: 2em;
        text-align: center;
    }
    #icon_music
    {
        width:120px;
        height:120px;
        bottom:50px;
    }
    #icon_music:active
    {
        width:110px;
        height:110px;
    }
    #credit_auteur
    {
        height:285px;
        width:304px;
        font-size: 1.5em;
        position: absolute;
        right:180px;
    }
    audio
    {
        width:140px;
        height:40px
    }
    .font_size
    {
        font-size: 1.7em;
        font-family: serif;
    }
    .font_size > h2
    {
        font-size: 1.8em;
        margin-top:0.4em;
        margin-bottom: 0.3em;
    }
}